color/color.dtd

<!ELEMENT color_check (positions)>
<!ELEMENT positions (position+,color?)>
        <!ELEMENT position (color?)>
        <!ATTLIST position x CDATA #REQUIRED>
        <!ATTLIST position y CDATA #REQUIRED>
<!ELEMENT color (reference, low, high)>
        <!ELEMENT reference (#PCDATA)>
        <!ELEMENT low (#PCDATA)>
        <!ELEMENT high (#PCDATA)>
